<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Luhn Algorithm</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>

  </head>
  <body>
    <div class="frame">
      <div class="inner-frame">
        <h1>Check Valid Credit Card Number</h1>
        <form name="form">

          <h2>
            <img style="visibility: hidden" class="mastercard" src="https://img.icons8.com/color/48/000000/mastercard.png">
            <img style="visibility: hidden" class="visacard" src="https://img.icons8.com/color/48/000000/visa.png">
            <img style="visibility: hidden" class="discovercard" src="https://img.icons8.com/color/48/000000/discover.png">
            <img style="visibility: hidden" class="amexcard" src="https://img.icons8.com/color/48/000000/amex.png">
          </h2>

          Card Number: <input type="text" class="form-control" id="cc_number" name="cc_number" oninput="creditCheck();"  maxlength="20" onKeyUp="check()" />
          <div style="visibility: hidden" id="result1">"Valid"</div>
          <div style="visibility: hidden" id="result2">"Not A valid Credit Card"</div>

        </form>

      </div>

    </div>

  </body>
</html>
